@model OptionTracker.Models.Option;

@{
    ViewData["Title"] = "Option Details";
    Trade trade = Model.Trades;
}



@{await Html.RenderPartialAsync("~/Views/Trades/_tradeHeader.cshtml", trade); }


<div class="row mt-5 pl-2 pr-5">
    <div class="col">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OptionType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OptionType.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StrikePrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StrikePrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateEntered)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateEntered)
            </dd>

 
            <dt>
                @Html.DisplayNameFor(model => model.StockPriceatPurchace)
            </dt>
            <dd>
                @Html.Raw(String.Format("{0:c}", Model.StockPriceatPurchace))
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Commission)
            </dt>
            <dd>
                @Html.Raw(String.Format("{0:c}", Model.Commission))
            </dd>
 


        </dl>
    </div>
    <div class="col">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.StrikePrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StrikePrice)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EntryPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EntryPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateClosed)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateClosed)
            </dd>



        </dl>
    </div>
    <div class="col">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ExitPrice)
            </dt>
            <dd>
                @Html.Raw(String.Format("{0:c}", Model.ExitPrice))
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OptionCost)
            </dt>
            <dd>
                @Html.Raw(String.Format("{0:c}", Model.OptionCost))
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ClosingTotalPrice)
            </dt>
            <dd>
                @Html.Raw(String.Format("{0:c}", Model.ClosingTotalPrice))
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProfitLoss)
            </dt>
            <dd>
                @Html.Raw(String.Format("{0:c}", Model.ProfitLoss))
            </dd>
        </dl>
    </div>
</div>

<div class="row mt-5 pl-2 pr-5">
    <div class="col">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>
        </dl>
    </div>

</div>











    <div class="row">
        <div class="col">
            <div class="text-left mt-3">
                <a class="btn btn-secondary btn-sm" asp-controller="Trades" asp-action="Details" asp-route-id="@trade.Tradeid">Back to Option List</a>
            </div>
        </div>
    </div>
