@model OptionTracker.Models.ViewModels.CreateTradeVM

@{
    ViewData["Title"] = "Details";
    var trade = Model.Trade;
    var options = Model.Options;
    var optionCount = options.Count();
}



@{await Html.RenderPartialAsync("~/Views/Trades/_tradeHeader.cshtml", trade); }

 

@if (optionCount > 0)
{
    <div class="bodrer p5 mt-5">

        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Strike</th>
                <th>Exp Date</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Commission</th>
                <th>Total Cost</th>
                <th>Exit Price</th>
                <th>P/L</th>
                <th style="width:150px;"></th>
            </tr>
            @foreach (var option in options)
            {
            <tr class="@(option.ExitPrice > 0 ? "table-warning" : "")">
                <td>@option.DateEntered.ToString("MM/dd/yyyy")</td>
                <td>@option.OptionType.Description</td>
                <td>@option.StrikePrice</td>
                <td>@option.ExpirationDate.ToString("MM/dd/yyyy")</td>
                <td>@Html.Raw(String.Format("{0:c}", option.EntryPrice))</td>
                <td>@option.Quantity</td>
                <td>@Html.Raw(String.Format("{0:c}", option.Commission))</td>
                <td>@Html.Raw(String.Format("{0:c}", option.OptionCost))</td>
                <td>@Html.Raw(String.Format("{0:c}", option.ClosingTotalPrice))</td>
                <td class="@((option.DateClosed != null && option.ProfitLoss < 0) ? "text-danger" : "text-success")">@Html.Raw(String.Format("{0:c}", option.ProfitLoss))</td>
                <td nowrap>
                    <a class="btn btn-primary btn-sm @(option.DateClosed != null ? "disabled" : "")" asp-controller="Options" asp-action="Edit" asp-route-id="@option.Optionid" disabled="disabled">Edit</a>
                    <a class="btn btn-info btn-sm" asp-controller="Options" asp-action="Details" asp-route-id="@option.Optionid">Details</a>
                    <a class="btn btn-danger btn-sm @(option.DateClosed != null ? "disabled" : "")" asp-controller="Options" asp-action="Delete" asp-route-id="@option.Optionid">Delete</a>
                </td>
            </tr>


            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Totals:</strong></td>
                <td>@Html.Raw(String.Format("{0:c}", @Model.TotalTradeCost))</td>
                <td class="@((Model.TotalProfitLoss != null && Model.TotalProfitLoss < 0) ? "text-danger" : "text-success")">@Html.Raw(String.Format("{0:c}", @Model.TotalProfitLoss))</td>
                <td></td>
            </tr>
        </table>
    </div>

}
else
{
    <div class="pt-5">
        Click the Add Option button to add a new position.
    </div>
   
}


<div class="row">
    <div class="col">
        <div class="text-left mt-3">
            <a class="btn btn-secondary btn-sm" asp-action="Index">Back to Trade List</a>
        </div>
    </div>
</div>
